<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Performance Analyzer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <button class="arrow-btn" onclick="location.href='{{ url_for('index') }}';">
        <span class="arrow-icon">←</span>
        Back to Main Page
    </button>
    
    <section class="header py-4">
        <div class="container">
            <h1>Stock Performance Analyzer</h1>
        </div>        
    </section>
    
    <div class="github-strip">
        <div class="container">
            <a href="https://github.com/utkuyucel/Stock_Heatmap_Visualization/tree/main" target="_blank">
                <i class="fab fa-github"></i> View the Project on Github
            </a>
        </div>
    </div>

    <!-- Inside the project-->
    <section class="container my-5">
        <h3><b>Stock Performance Analyzer</b></h3>
        <p>
            This project utilizes Yahoo Finance data to analyze the performance of a given stock (in this example, TUPRS). The analysis includes:
        </p>
        <ul>
            <li>A heatmap representing the stock's monthly performance.</li>
            <li>Monthly and yearly histograms illustrating positive and negative performance counts.</li>
        </ul>

        <script src="https://gist.github.com/utkuyucel/ff8f5acf62913ebbaaf8e065a80694e9.js"></script>

        <br></br>
        <h5><b>Let's Explain Each Codeblock:</b></h5>
        <br></br>

        <h5><b>1. Import Section</b></h5>
        <script src="https://gist.github.com/utkuyucel/663cec12077a8625796495b66038b386.js"></script>
        <p>This block imports necessary libraries and modules for data fetching, analysis, and visualization.</p>
        <br></br> 
        
        <h5><b>2. StockPerformanceAnalyzer Class Definition</b></h5>
        <script src="https://gist.github.com/utkuyucel/a6609ca82833bb345483abee21a1c5a3.js"></script>
        <p>StockPerformanceAnalyzer class provides tools to analyze the monthly and yearly performance of a given stock.</p>
        <br></br> 

        <h5><b>3. Initializer</b></h5>
        <script src="https://gist.github.com/utkuyucel/7901a6bae46a129293fc049520656c69.js"></script>
        <p>Initializes an instance of the StockPerformanceAnalyzer class with a stock symbol and start date. It also fetches and preprocesses stock performance data.</p>
        <br></br> 

        <h5><b>4. Heatmap Visualization</b></h5>
        <script src="https://gist.github.com/utkuyucel/0c32acc5e088724afbc983e0303d8182.js"></script>
        <p>Plots a heatmap showcasing the monthly performance of the stock over years, with performance values color-coded.</p>
        <br></br> 

        <h5><b>5. Histogram Visualization for Monthly and Yearly Data</b></h5>
        <script src="https://gist.github.com/utkuyucel/eb52b9fa74a089b6429f780cef2c929f.js"></script>
        <p>These methods generate histogram plots to display the number of positive and negative performance months/years for the stock.</p>
        <br></br> 

        <h5><b>6. Helper Functions</b></h5>
        <script src="https://gist.github.com/utkuyucel/f8d183e61ce59b8b135a49d2c246e1ec.js"></script>
        <p>These methods generate histogram plots to display the number of positive and negative performance months/years for the stock.</p>
        <br></br> 

        <h5><b>7. Main Execution Block</b></h5>
        <script src="https://gist.github.com/utkuyucel/295e5de6d0b9409b7f2af5993d6168a2.js"></script>
        <p>The main execution block where an instance of the StockPerformanceAnalyzer class is created for the stock symbol "TUPRS.IS" starting from "2010-01-01". The program then calls methods to visualize the stock's monthly and yearly performance.</p>
        <br></br> 




        <!-- Adding new codeblocks above it. -->

        <hr>
        <br></br>
        <h3><b>The Output:</b></h3>
        <br></br>

        <h4><b>Heatmap:</b></h4>
        <br></br>
        <img src="{{ url_for('static', filename='images/spa/heatmap.png') }}" alt="Heatmap Output" class="img-fluid">
        <br></br>
        <ul>
            <li>The stock appears to have had a mix of both positive and negative months throughout the years.</li>
            <li>The year 2022 stands out as particularly strong, with most months showing positive performance.</li>
            <li>Conversely, 2020 seems to have several months with negative performance.</li>
        </ul>
        <br></br>
        <hr>
        <h4><b>Monthly Histogram:</b></h4>
        <br></br>
        <img src="{{ url_for('static', filename='images/spa/performance_by_month.png') }}" alt="Monthly Histogram Output" class="img-fluid">
        <br></br>
        <ul>
            <li>July (7) has, on average, the best performance across the years</li>
            <li>May (5) has, on average, the weakest performance across the years</li>
        </ul>
        <br></br>
        <hr>
        <h4><b>Yearly Histogram:</b></h4>
        <br></br>
        <img src="{{ url_for('static', filename='images/spa/performance_by_year.png') }}" alt="Yearly Histogram Output" class="img-fluid">
        <br></br>
        <ul>
            <li>As observed in the heatmap, 2022 has the highest count of positive months. (Domain note: Not just for rising USDTRY pair but it has a massive affect on it obviously)</li>
            <li>2020 has a higher count of negative months (The year of COVID-19 pandemic.)</li>
        </ul>

        <br></br>
        <hr>
        <h3><b>Overall Insights</b></h3>
        <br></br>
        <h5><b>1 - Seasonality in Monthly Performance</b></h5>
        <ul>
            <li>2016, 2017, and 2022 were favorable years, showing strong positive cumulative performances.</li>
        </ul>
        <h5><b>2 - Yearly Performance Highlights:</b></h5>
        <ul>
            <li>February and March are most likely to have positive returns.</li>
            <li>The period from June through September is generally weaker, with June and August showing particularly low average performances. This could indicate a mid-year slump.</li>
        </ul>
        <h5><b>3 - General Observations:</b></h5>
        <ul>
            <li>The stock shows a mix of both positive and negative months throughout the years, indicating the importance of a diversified investment strategy and consistent monitoring.</li>
            <li>There are potential seasonal patterns in the stock's performance, which investors could explore further to optimize their trading strategies.</li>
                
        </ul>
        <br></br>
        <h4><b>Further Analysis</b></h4>
        <ul>
            <li>Event Analysis: Should investigate specific events, company news, or industry trends during the notable years to understand the factors influencing the stock's performance. </li>
            <li>Economic Conditions: Should correlate the stock's performance with broader economic indicators or global events, especially for years with significant downturns or upturns.</li>
            <li>Peer Comparison: Should compare the stock's performance with its industry peers to understand if the trends are company-specific or industry-wide.</li>

                
        </ul>


        
    </section>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2023 Utku Yücel. All rights reserved.</p>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
